# Python Data Structures

1. What are data structures and why are they important
-  A data structure is a way of organizing, storing and managing data in a computer so that it can be accessed and modified efficiently.

2. Explain the difference between mutable and immutable data type with examples
- Mutable data type allow their values to be modified after they are created.
EX: LISTS, DICTIONARIES.
-Immutable data types do not allow their values to be changed after they are created.
EX: STRINGS, TUPLES, NUMBERS(INT,FLOAT)

3. What are the main differences between lists and tuples in python
- List are mutable. Tuples are immutable.
List syntax can be defined using "[]", Tuples syntax can be defined using "()".
List performence is slow due to mutability over head. Tuples performence is faster due to immutabilty.
List's use cases can be used when data needs to change. Tuples use cases are used for fixed, read only data.
Lists iteration is slower(mutable object require extra check). Tuples has faster iteration .

4. Describe how dictioneris store data
- Dictionaries store dats as key value pairs. The underlying mechanism for storing and accessing this data is based on a hash table.

5. Why might you use a set instead of list in python
- A set in python is an unordered collection of unique elements, while a list is and ordered collection that can have duplicate elements.

6. What is a string in python and how is it different from list
- A string in python is a sequence of characters enclosed in either single ('), double("), or triple(''' or """). Strings are immutable, meaning once created, their content cannot be changed.

7. How do tuples insure data intergrity in python
- Tuples are immutable data structures in python, meaning their elements cannot be changed, added or removed after the tuples are created. This immutabilty ensures data intergrity by preventing accidential or intentional modifications to the data, making tuples a reliable choice when stability and consistency of data are critical.

8. What is hash table and how does it relate to dictionaries in python
- A hash table is a data structure that stores key-value pairs. It uses a has function to compute an index (called a hash) for each key, which determines where the corresponding value is stored in memory. hash tables allow for fast access, insertion, and deletion of data, typically in 0(1)time on average.

9. Can list contain different data types in python
- YES, a list can contain elements of different data types. Python lists are heterogeneous collection, meaning they can store a mix of integers, float, string, objects, or even other lists and data structures.

10. Explain why strings are immutable in python
- This design choice is intentional and has several benefits related to memory managment, performence,  security and simplicity.

11. What advantages do dictionaries offer over lists for certain tasks
- Dictionaries offer distinct advantages over lists for specific task due to their ability to store key-value pairs. Here are some key advantages:
- Fast lookups by kry
- Storing data with unique identifiers
- More flexible data representation
- Efficient update and deletion by key
- Storing non-sequential data

12. Describe a scenario where using a tuple would be preferable over list
- Developing a map application where you need to represent geographic coordinates(latitude and longitude) for various locations. Each coordinate pair consists of two fixed values:the latitude and the longitude. Once a coordinate is defined, it should not change throughout the program, as it reprsents a specific point on the earths surface.

13. How does sets handle duplicate values in python
- A set is an unorderd collection of unique elements. This means that sets automatically handle duplicate values by removing duplicates when the set is created or updated. If you try to add an element that already exists in the set, it will not be added again.

14. How does the "in" keyword works differently for lists and dictionaries
- The in keyword is used to check for membership(whether a value exists) in both lists and dictionaries, but the behaviour differs based on the type of collection.

15. Can you modify the elements of tuple? explain why or why not
- NO, you cannot modify the elements of a tuple after its is created, this is because tuples are immutable in python.

16. What is a nested dictionary give a example of its use case
- It is a dictionary in which the values are themselves dictionaries. This allows you to represent complex hierarchial dat structures where key value pair can contain more dictionaries or other data types. Representing multi level or structured information.
This kind of structure can easily accomadate multiple student each with multiple courses and grades.

17. Describe the time complexity of accessing elements in a dictionary
- Dictionaries are implemented using a hash table. This implementation allows for efficient access to dictionary elements based on keys. The time complexity of accessing elements in a dictionary depends on the operation being performed.

18. In what situation lists are considered over dictionaries
- Lists are preferred over dictionaries in situations where ordering, indexed key and simpilicity are key consideration.

19. Why are dictionaries considered un ordered and how does it effect data retrival
- Dictionaries in python are considered unorderd because the key value pairs in a dictionary are not stored in a specific sequence or order. Unlike lists which are ordered collections, the insertion order of items in a dictionary doesn not dictate how they are stored or retrieved in a memory.

In [1]:
# create a string with your name and print it

my_name = "kinza"
print(my_name)

kinza

In [2]:
# length of the string hello world

string = "hello world"
len(string)
print(len(string))

11

In [4]:
# slicing python programming

string = "python programming"
print(string[0:3])

pyt

In [5]:
# convert hello to upper case

string = "hello"
print(string.upper())

HELLO

In [6]:
# to replace apple with orange in the string i like apple

string = "i like apple"
print(string.replace("apple","orange"))

i like orange

In [7]:
# append the number 10 to the list [1,2,3,4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [8]:
# remove the number 3 from the list [1,2,3,4,5]

list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [9]:
# access the second element in the list ['a','b','c','d']

list = ['a','b','c','d']
print(list[1])

b

In [10]:
# to reverse the list [10, 20, 30, 40, 50]

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [11]:
# create a tuple with the element 10 20 30 and print it

tuple = (10,20,30)
print(tuple)

(10, 20, 30)

In [12]:
# to access the first element of the tuple('apple','banana','cherry')

tuple = ('apple','banana','cherry')
print(tuple[0])

apple

In [13]:
# count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tuple = (1, 2, 3, 2, 4, 2)
print(tuple.count(2))

3

In [14]:
# find the index of the element cat in the tupple ('dog','cat','rabbit')

tuple = ('dog','cat','rabbit')
print(tuple.index('cat'))

1

In [15]:
# to check if the element banana is in the tuple ('apple','orange','banana')

tuple = ('apple','orange','banana')
print('banana' in tuple)

True

In [16]:
# create a set with elements 1, 2, 3, 4, 5 and print it

set = {1,2,3,4,5}
print(set)

{1, 2, 3, 4, 5}

In [17]:
# to add the element 6 to the set {1, 2, 3, 4}

set = {1, 2, 3, 4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [18]:
# to create a tuple with the elements 10, 20, 30 and print it

tuple = (10,20,30)
print(tuple)

(10, 20, 30)